Flask==0.12.2
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
gevent==1.2.2
flask-socketio==2.9.6
gunicorn==19.7.1
greenlet==0.4.12
flask-mysqldb==0.2.0
html5lib==0.999
httplib2==0.8